.activity-table {
    width: 100%;
}
.activity-table td,
.activity-table th {
    text-align: center;
    color: white;
    padding: 10px 22px;
    vertical-align: middle;
}
.activity-table td p {
    font-size: 12px;
}

.activity-table .table-head {
    background-color: #313D4F;
    color: #738297;
}
